@model Mentorship.Models.SecondaryFunctions.CourseListModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form method="post" asp-action="Tags" asp-controller="CoursesListIndex">
    <input type="text" class="all-text-box" value="@Model.Tags" name="temp">
    <input type="submit" class="greenButton" value="Set template">
</form>

<form method="post" asp-action="Index" asp-controller="AddNewCourse">
    <input type="submit" class="button button2" value="Add new Course">
</form>
@{
    string tag = Model.Tags;
    @foreach (var u in Model.Courses)
    {
        @if (Model.Tags != null && u.LessonTags != null)
        {
            @if (u.LessonTags.Contains(tag.Substring(1)) || tag.Equals("No template"))
            {
                string path = u.LessonTitle + ".png";
                <center>
                    <b>
                        <a class="underline-animation courses-link" href="https://localhost:44373/Course/CoursePage?lessonTitle=@u.LessonTitle">
                            @u.LessonTitle (@u.LessonTags)
                        </a>


                    </b>

                    <div class="white-box"> </div>

                    <img src="~/courses/@path" style="width:auto;height:300px;" />
                    <hr />
                </center>
            }
        }
    }
}