
@{
    ViewData["Title"] = "AddNew";
}
<center>
    <h1>AddNew</h1>
</center>
<hr>

<form method="post" asp-action="AddNewLessonClick" asp-controller="CoursesList" enctype="multipart/form-data">
    <label>Lesson title: </label> <input type="text" name="LessonTitle">
    <p><p>
        <label>Interests:</label>
        <input name="interests" />
    <p>
        <input type="file" value="add new file" name="file">
    <p>
        <input type="submit" class="buttonBlue button">
</form>