@using MentorshipProject.Models
@model MentorshipProject.Models.SecondaryClassIndex

@{
    ViewData["Title"] = "Index";
}
<center>
    <h1>Courses List</h1>
</center>
<hr>

<form method="post">
    <center><input type="submit" value="Add new lesson" asp-action="AddNew" asp-controller="CoursesList" class="buttonGreen button"></center>
</form>

<form method="post">
    <input type="text" name="tagResult">
    <p>
    <input type="submit" asp-action="TagRequest" asp-controller="CoursesList" value="Set template" class="buttonRed button">
</form>

Template: @Model.TagsRec
<p/>
    <hr>

    @{
        string[] str = Model.TagsRec.Split('#');
        string temp = "";
        foreach (string u in str)
        {
            temp += u;
        }

        List<Lesson> lessons = new List<Lesson>();
        string path;

        int a = 0;

        foreach (var u in Model.lessons)
        {
            @if (Model.TagsRec.Equals("No template") || u.LessonTheme.Contains(temp))
            {
                a++;
                path = u.LessonTitle + ".png";

                string title = u.LessonTitle + " - " + u.LessonTheme;

                <form method="post">
                    <input class="button buttonBlack"л value="&#9679;@title" type="submit" 
                           asp-action="CoursePage" asp-controller="CoursesList" name="AddNewCourse"/>
                </form>
                
                <img src="~/AddFile/@path" style="width:auto;height:300px">
            }
        }
        if (a == 0)
        {
            <center>
                <b>
                    No lesson detected
                </b>
            </center>
        }
    }
