@{
    ViewData["Title"] = "Index";
}

<h1>AddNew</h1>

<form method="post" enctype="multipart/form-data" asp-action="LessonAdded" asp-controller="AddNewCourse">
    <label>Title:</label>
    <p />
    <input type="text" name="title" />
    <p />
    <label>Desctiption:</label>
    <p />
    <textarea name="desc"> </textarea>
    <p />
    <label>Upload img:</label>
    <p />

    <input type="file" name="file" id="file" class="inputfile" />

    <p />
    <label>Tags:</label>
    <p />
    <input type="text" name="tags" />

    <p />
    <input type="submit" value="Add new lesson"  class="button button2"/>
</form>
