@model Mentorship.Models.SecondaryFunctions.ManageModel
@{
    ViewData["Title"] = "CoursesManage";
}

<h1>Your Courses</h1>
@{
    int i = 1;

    @foreach (var u in Model.courses)
    {
        string a = i.ToString() + ". ";

        <b>
            <a href="/Course/CoursePage?lessonTitle=@u.LessonTitle"
               class="underline-animation courses-link">
                @a @u.LessonTitle
            </a>
        </b>

        <p />
        a = "Pupils - " + u.PupilsEmails;
        @a

        <p> </p>

        a = "Tags - " + u.LessonTags;
        @a
        <hr>
        <p />
        i++;
    }

    if (i == 1)
    {
        <b>You haven't made any couse yet :(</b>
    }
}

<h1>Courses you are in</h1>
@{
    i = 1;
    @foreach (var u in Model.Learn_courses)
    {
        string a = i.ToString() + ". ";

        <b>
            <a href="/Course/CoursePage?lessonTitle=@u.LessonTitle"
               class="underline-animation courses-link">
                @a @u.LessonTitle
            </a>
        </b>

        <p />
        a = "Pupils - " + u.PupilsEmails;
        @a

        <p> </p>

        a = "Tags - " + u.LessonTags;
        @a
        <hr>
        <p />
        i++;
    }
    if (i == 1)
    {
        <b>You haven't got in any couse yet :(</b>
    }
}
<hr>
<h1>Your hometasks</h1>
@{
    bool first = false;
    @foreach (var u in Model.times)
    {
        if (first)
        {
            <hr/>
        }

        first = true;
        foreach (var f in u.Value.Split('|'))
        {

            string message1 = "In " + u.Key + " till " + f;

            <h6>
                In
                <b>
                    <a href="/Homework/Index?lessonTitle=@u.Key" class="underline-animation courses-link">@u.Key</a>
                </b>
                till
                @f
                <p />
            </h6>
        }
    }
}