@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <center>
        <h1 class="display-4">Mentorship</h1>
        <b>
            The best way to learn something
        </b>
    </center>
</div>