@model Mentorship.Models.MainFunctions.Accounts
@{
    ViewData["Title"] = "myAccount";
}

<div style="position:absolute; left:15%">
    <h1>Hello,@Model.Name @Model.Surname</h1>
    <b>@Model.Email</b>
</div>

<p />

@{ string path = Model.Email.Split('@')[0] + "-" + Model.Email.Split('@')[1] + ".png"; }

<img src="~/user/@path" style="height: 90px; width:90px; border-radius:50%; position:relative; left:-7%; top:1%;">
<hr/>

<h3>Set your photo</h3>
<form enctype="multipart/form-data" asp-action="setImg" asp-controller="Auth" method="post">
    <input type="file" name="file"/>
    <p/>
    <div style="background-color:none; height:20px"/>
    <input type="submit" value="Set your photo" class="greenButton"/>
</form>
<hr>
<h3>Change your password:</h3>
<form asp-action="changePass" asp-controller="Auth" method="post">
    <input class="all-text-box" type="password" name="last_pass">
    <p />
    <input class="all-text-box" type="password" name="new_pass">
    <p/>
    <input type="submit" value="Set your new password" class="greenButton" />
</form>